<form class="navbar-form pull-left app-search" role="search">
    <div class="input-group">
        <input type="text" ng-model="search.query" ng-change="search.onQueryChange()" class="form-control" placeholder="Search" name="query" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" autocomplete="off" />
        <div class="result-set" ng-if="search.query">
            <div class="result-type" ng-if="!search.loading" ng-repeat="(category, results) in search.results">
                <span>{{category}}</span>
                <div class="results" ng-repeat="result in results">
                    <div class="result" ng-class="{active: result.active}">
                        <span class="title">{{result.title}}</span>
                        <span class="sub-title" ng-if="result.group">in <strong>{{result.group}}</strong></span>
                        <span class="sub-title" ng-if="result.subtitle">{{result.subtitle}}</span>
                        <a href="{{result.link}}"><i class="fa fa-arrow-right pull-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="result-type" ng-if="!search.data.length && !search.loading">
                <span>&nbsp;</span>
                <div class="results">
                    <div class="result">
                        <span class="sub-title">There are no results</span>
                    </div>
                </div>
            </div>
            <div class="result-type" ng-if="search.loading">
                <span>&nbsp;</span>
                <div class="results">
                    <div class="result">
                        <span class="sub-title"><i class="fa fa-spinner fa-spin"></i> Loading results...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
