@borderColor: lightgrey;

.mobile {
    width: ~"calc(100% - 150px)";
    float: left;

    .navbar-form {
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
        border: none;
        width: 100%;

        .input-group {
            width: 100%;

            .result-set {
                left: -90px;
                min-width: ~"calc(100% + 182px)";
            }
        }
    }
}

.app-search {

    .input-group {
        width: 100%;

        input {
            border-radius: 0;
        }
    }

    .result-set {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 34px;
        left: -70px;
        min-width: 400px;
        width: ~"calc(100% + 70px)";
        border-bottom: solid 4px @borderColor;
        background-color: white;

        .result-type {
            flex: 1;
            display: flex;
            background-color: #fafafa;
            width: 100%;

            & > span {
                flex-basis: 70px;
                color: @borderColor;
                font-size: 10px;
                padding: 5px 10px;
                text-align: right;
            }

            .results {
                flex: 1;
                display: flex;
                flex-direction: column;
                background-color: white;

                .result {
                    flex: 1;
                    padding: 5px 10px;

                    &:hover, &.active {
                        background-color: #EAF4F7;
                    }

                    a, a:hover, a:focus {
                        text-decoration: none;
                        color: inherit;

                        &.btn {
                            padding: 2px 4px 1px 1px;
                            margin-left: 5px;
                        }
                    }

                    .title {
                        font-weight: bold;
                        padding-right: 5px;
                    }

                    .sub-title {
                        font-size: 12px;
                        color: #c6c6c6;
                    }

                }

            }
        }
    }
}
